/*GENERAL*/
*{
    padding: 0%;
    margin: 0%;
    
}

body{
    background-image: url("../img/fondo.png");
    background-size: contain;/*Multiples veces la misma imagen*/
}


/**********/


/*HEADER*/

.img-fixed{
    position: fixed;
}


/***IMAGEN DEL LOGIN CENTRADA***/

.fondoFormulario{
    background-color: rgb(31, 150, 180);
}

.form-centrado{
    position: relative;
    width: 100%;
    height: 100%;
    /*width: 400px;
    height: 400px;
    */
  }




.botonEnviar{
    background-color: orange;
}



/**/



/***FOOTER***/


footer {
    position: fixed;
    height: 20%;
    bottom: 0;
    width: 100%;
}



/*********/
